#site-title {
  color: #000;
  padding: 10px;
}

nav a {
  font-family: arial;
  color: #f9f9f9;
  text-decoration: none;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  padding: 13px;
}

nav a:hover {
  color: #999;
}

#profil-image {
  height: 230px;
  width: 230px;
  border-radius: 25px;
  margin: 20px;
}

#blog-image {
  height: 230px;
  width: 219px;
  border-radius: 25px;
  margin: 20px;
  margin-right: 25px;
}

article {
  display: inline-block;
}

.menu {
  padding: 20px;
}

.menu-section {
  border: 5px solid #555;
  margin-left: 20px;
  border-radius: 25px;
  background-color: #fff;
}

.menu-section h3 {
  color: #000;
  transform: scale(1.3);
}

.menu-section:hover {
  box-shadow: 0px 0px 5px 3px #999999;
  transform: scale(1.01);
}

body {
  background-color: #f3f3f3;
}

.header-web {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  margin-right: 5px;
}

#all-header {
  border-bottom: 5px solid #555;
}

#home-menu a {
  color: #0492d2;
}

.leftcolumn {
  float: left;
  width: 50%;
}

.rightcolumn {
  float: right;
  width: 50%;
}

.fakeimg {
  background-color: #aaa;
  width: 50%;
  padding: 20px;
}

.profile-card {
  border: 5px solid #555;
  /* height: 25em; */
  width: 70%;
  border-radius: 25px;
  background-color: white;
  padding : 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.modal-container #modal-toggle:hover ~ button { background: #1E824C; }

.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  height: 280px;
  padding: 10px 30px;
  position: absolute;
  left: calc(50% - 200px);
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 400px) {

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content { left: 0; }
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover { color: #333; }

.modal-container {
  margin: 0 auto;
  padding-top: 0px;
  position: relative;
  width: 160px;
}

.modal-container button {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  background: #446CB3;
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}

.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}